.NavigationItems {
    margin: 0;
    padding: 0;
    width: 20%;
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
}

.center {
    text-align: center;
}