.Navbar {
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgb(64, 13, 77);
    /* background-color: rgb(74, 2, 83); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(5, 5, 5);
    box-shadow: 0 0px 6px 1px rgba(0, 0, 0, 0.664);
    z-index: 90;
}

.Navbar nav {
    background-color: inherit;
    height: 100%;
    box-shadow: none;
}

#nav-top-burger {
    color: white;
}

#nav-top-train {
    border-top: 5px;
}
