.NavigationItem {
    font-family: 'Permanent Marker', cursive;
    box-sizing: border-box;
    display: flex;
    height: 45px;
    width: auto;
    align-items: center;
    width: 25%;
    align-content: center;
}

.NavigationItem a {    
    font-size: 1.6em;
    width: 100%;
    color: white;
    text-decoration: none;
    height: 55px;
    border-bottom: 40px solid transparent;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    /* align-content: center; */
    width: 100%;
    background-color: rgb(83, 0, 79);
    border-bottom: 4px solid rgb(179, 0, 68);
    color: white;
}

