body {
  
  background: rgb(236, 235, 235);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.buttons-row {
  text-align: center;
  padding: 40px 0 0 0;
  margin-left: 10px;
}


@media only screen and (min-width: 768px) {
  /* For desktop: */
  

}