body {
  font-size: 1.1em;
  font-family: 'Josefin Sans', sans-serif;
  background: rgb(236, 236, 236);
  margin: 0;
  padding: 0;
}

.buttons-row {
  text-align: center;
  padding: 40px 0 0 0;
  margin-left: 10px;
}


/* @media only screen and (min-width: 768px) {
  /* For desktop: 
  

} */