.Btn-mine {
    background-color: rgb(89, 0, 255);
   
    margin: 6px 10px;
}

.Btn-mine:hover {
    /* background-color: rgb(255, 0, 0); */
    background-color: rgb(187, 61, 114);
}

.Btn-mine:after {
    background-color: rgb(17, 3, 9);
}