.Btn-mine {
    /* background-color: rgb(72, 1, 105); */
    /* background-color: rgb(236, 148, 15); */
    /* background-color: rgb(82, 201, 42); */
    background-color: rgb(171, 116, 202);
    margin: 6px 10px;
}

.Btn-mine:hover {
    background-color: rgb(199, 159, 221);
    /* background-color: rgb(187, 61, 114); */
}

.Btn-mine:after {
    background-color: rgb(17, 3, 9);
}